/* layout colors */
$ltgrey: #DEE2E2;
$grey: #2E3A3D;
$purple: #9B8791;
$white: #ffffff;
$black: #000000;

/* ss17 collection colors */
$yellow: #F6D258;
$orange: #EF562D; /* flame */
$pink: #D13175;
$ltblue: #97D5E0; /* paradise */
$mdblue: #5487A1; /* niagra */
$drkgreen: #5D7048; /* kale */
$greenery: #88B14A;
$drkblue: #0D4C8A; /* lapis */

/* staple collection colors */
$pale: #EECEC5;
$muted: #D29787;
$hazelnut: #D1AF94;
$cafe: #A6856B;
$brown: #7f624b;
$mdgrey: #666666;
$drkgrey: #333333;